*{
    margin:0px;
    padding:0px;
}
#container{
    width: 1000px;
    background-color: silver;
}
#header,#about{
    vertical-align: top;
}
#header{
    width: auto;
    min-height: 50px;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    background-color: Black;
    font-size: 35px;
    color: white;
}
#about{
    width: 795px;
    min-height: 200px;
    padding: 10px;
    background-color: black;
    font-size: 20px;
    color: white;
    display: inline-block;
}
.box{
    vertical-align: top;
    display: inline-block;
    margin: 10px;
}
.box{
    width: 300px;
    min-height: 400px;
    padding: 5px;
    background-color: black;
    font-size: 20px;
    color: white;
}
.box-header{
    height: 50px;
    width: auto;
    padding: 5px;
    background-color: red;
    font-size: 25px;
}
.secondary-header{
    height: 35px;
    width: auto;
    padding: 2px;
    Background-color: gold;
    font-size: 15px;
}